{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}

::selection
{
    background:var(--dark-selection-background);
    color:var(--dark-selection-color);
}

html
{
    color-scheme:dark auto;
}

body
{
    background:#0C252F;
    color: var(--dark-text-color);
}

header#banner a
{
    color:#e0e0e0;
}

header#banner a:hover {
    background-image: var(--rainbow-gradient-short,#fff);
    background-size: 150%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedText 2s infinite alternate-reverse;
    background-position: -100%;
}


header#banner nav ul li a
{
    color:var(--dark-text-color);
}


main#content h1
{
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-image:var(--rainbow-gradient,#fff);
    background-repeat:repeat;
    background-size:100%;
}

main#content h1::selection
{
    -webkit-text-fill-color:#000;
}

main#content a {
    color:#b7edff;
}

main#content p {
    color: var(--dark-text-color);
}

main#content code
{
    background:#154050;
    border-radius:5px;
}

main#content hr
{
    background-image: linear-gradient(45deg, #0c252f, #1f5e77, #0c252f);
}

main#content #toc h4
{
    color:var(--dark-text-color);
}

main#content ul#posts small
{
    color:var(--dark-text-color);
}

main#content ul#posts li a:hover
{
    color:#21c7ff;
}

footer#footer a {
    color: #b7edff;
}

input {
    background: #113341;

}

button, input[type="text"], input[type="email"] {
    background: #113341;
}

main#content header#post-header div
{
    color:var(--dark-text-color);
}

{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
