@font-face {
    font-family: 'Manuka';
    font-style: 900;
    font-display: swap;
    src: url('https://res.cloudinary.com/cloudinary-sucks-so-fucking-much/raw/upload/v1636172733/ManukaBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url('https://res.cloudinary.com/cloudinary-sucks-so-fucking-much/raw/upload/v1635924897/SourceSerif4VariableRoman.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url('https://res.cloudinary.com/cloudinary-sucks-so-fucking-much/raw/upload/v1635924897/SourceSerif4VariableItalic.ttf') format('truetype-variations');
}

:root {
    --body-font: 'Source Serif 4', 'Georgia', serif;
    --accent-font: 'Manuka', 'Impact', sans-serif;
    --code-font: Consolas, monospace;
    --dark-text-color: #ddd;
    --selection-background: black;
    --selection-color: white;
    --dark-selection-background: white;
    --dark-selection-color: black;
    --rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
    --rainbow-gradient-short: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#ebf38b 90%,#adfbda 100%);
}

::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

:focus {
    border-color: #0060df;
    box-shadow: 0 0 0 2px rgb(0 144 237 / 50%);
    outline: none;
}

@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #313a3d;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 1.6;
}

smcp {
    font-variant: all-small-caps;
    letter-spacing: 1px;
}

header#banner {
    margin-bottom: 16px;
    margin-top: 40px;
    font-family: var(--body-font);
    font-variation-settings: "wght" 500, "opsz" 12;;
}

header#banner a {
    color: #313a3d;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 1.5px;
}

header#banner a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #236c89;
    font-variation-settings: "wght" 700, "opsz" 8;
    letter-spacing: -0.4px;
}

header#banner h2 {
    display: inline;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    font-size: 1.05em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 3px;
}

header#banner nav ul li a {
    color: #454545;
}

main#content a {
    color: #007dfa;
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 15px;
    line-height: 1.15;
    font-family: var(--body-font);
}

main#content h3 {
    font-size: 19px;
    font-size: 1.9rem;
}

main#content li {
    font-family: var(--body-font);
    font-variation-settings: "wght" 400, "opsz" 12;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    font-family: var(--body-font);
    font-variation-settings: "wght" 400, "opsz" 12;
    color: #394548;
    margin: 16px 0;
}

main#content dfn {
    font-style: normal;
}

main#content hr {
    height: 2px;
    border: 0;
    background-image: linear-gradient(45deg,#ffffff,#74b7fa,#ffffff);
    border-radius: 40%;
}

main#content summary {
    font-family: var(--body-font);
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    font-size: 0.9em;
    font-variation-settings: "wght" 400, "opsz" 8;
    font-variant: oldstyle-nums;
    color: #767676;
    margin-left: 5px;
    opacity: 0.75;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */
main#content header#post-header h1 {
    font-family: var(--accent-font);
    font-size: 5.5rem;
    margin-top: 0;
    line-height: 5.5rem;
}

main#content header#post-header > div {
    display: block;
    font-family: var(--code-font);
    font-size: inherit;
    color: inherit;
    opacity: 0.75;
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 26px;
    margin: 16px 0;
    padding: 9px 14px;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: #3d3d3d;
    margin: 0;
}

main#content #toc nav#TableOfContents {
    margin-top: 4px;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -40px;
}

main#content #toc ul, main#content #toc ol {
    font-size: 0.98em;
    margin: 0;
    padding: 0 0 0 40px;
}

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    border-radius: 5px;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    content-visibility: auto;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content blockquote {
    font-style: italic;
    font-family: var(--body-font);
    font-variation-settings: "wght" 400, "opsz" 12;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

main#content figcaption {
    font-family: var(--body-font);
    font-variation-settings: "wght" 400, "opsz" 8;
    margin-bottom: 10px;
}

main#content table {
    font-family: var(--body-font);
    font-variation-settings: "wght" 400, "opsz" 12;
    text-align: left;
    border-spacing: inherit;
}

main#content th {
    font-variation-settings: "wght" 700, "opsz" 12;
}

main#content code,
main#content pre {
    font-family: var(--code-font);
}

main#content code {
    font-size: inherit;
    padding: 0 5px;
    background: #e0e0e0;
    border-radius: 5px;
}

main#content iframe {
    margin-bottom: 16px;
}

main#content pre {
    font-size: inherit;
    display: block;
    overflow-x: auto;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
}

main#content pre code {
    padding: 0;
    background: none;
    border-radius: 0;
}

main#content section.footnotes {
    font-size: 0.9em;
}

main#content iframe {
    content-visibility: auto;
}

main#content summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

main#content summary::before {
    content: '🍕';
    transform: rotate(-58deg);
    transition: 0.2s;
}

main#content summary > span {
    margin-inline-start: auto; font-size: 70%;
    font-weight: normal;
    opacity: 0.8;
    font-style: italic;
    font-variation-settings: "wght" 450, "opsz" 8;
}

main#content [open] summary::before {
    transform: rotate(32deg);
}

footer#footer {
    font-size: 12px;
    font-variation-settings: "wght" 400, "opsz" 10;
    font-family: var(--body-font);
    margin-bottom: 40px;
    content-visibility: auto;
    display: flex;
    gap: 1rem;
}

footer#footer a {
    text-decoration: none;
    color: #007dfa;
}

footer#footer summary {
    cursor: pointer;
}

footer#footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

input[type="text"], input[type="email"] {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: var(--body-font);
    font-variation-settings: "opsz" 8;
}

form.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

form#form > label {
    margin-bottom: 10px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
    font-family: var(--code-font);
    cursor: pointer;
}