@media (min-width: 770px) {
    body
    {
        line-height: 1.5;
        width: 700px;
    }

    header#banner h2
    {
        font-size:2rem;
    }

    main#content figure
    {
        margin-left:-3.8%;
    }

    main#content figure img
    {
        max-width:108%;
    }

    main#content h3
    {
        font-size:20px;
        font-size:2rem;
    }

    main#content header#post-header h1 {
        font-size:5rem;
        line-height:5.2rem;
    }

    main#content img
    {
        margin-left:-3.8%;
        max-width:108%;
    }

    main#content pre
    {
        margin-left:-3.8%;
        padding:1.5rem 2.2rem;
        width:108%;
    }

    main#content ul#posts
    {
        font-size:18px;
        font-size:1.8rem;
    }

    summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    summary::before {
        content: '😗';
        transform: rotate(-20deg);
        transition: 0.2s;
        font-size: 90%;
    }


    [open] summary::before {
        content: '😘';
        transform: rotate(20deg);
    }

    main#content summary > span {
        font-size: 70%;
        font-family: var(--body-font);
    }

    summary > span {
        margin-inline-start: auto;
        font-weight: normal;
        opacity: 0.8;
        display: block;
    }

    main#content ul#posts li::before {
        content: '➡️';
        margin-left: -29px;
        visibility: hidden;
        font-size: 90%;
    }

    main#content ul#posts li:hover::before {
        visibility: visible;
    }
}

@media (min-width: 500px) {
    main#content ul#posts small {
        margin-left: 5px;
        display: revert;
    }
}

@media (max-width: 500px) {
    main#content header#post-header>div {
        flex-direction: column;
    }

    header#banner {
        letter-spacing: 0.4px;
    }
}

@media print {
    header#banner nav {
        visibility: hidden;
    }

    main#content share {
        display: none;
    }

    footer#footer::after {
        content: 'Thanks for printing this article out! :)';
        display: block;
    }
}