<head>
    <meta charset="utf-8">
    <html lang="en">
    <meta name="author" content="Thomas Rettig">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="origin-trial" content="Ahi8M7+/NCfsWw8Z0agOwip4FNN5Pt2QrgX+/aO39Aw3abI7NTVt3fqwcb+X6FfQDuoqx58n5ifPAVKwemFV+gsAAABWeyJvcmlnaW4iOiJodHRwczovL3RobXMubmV0bGlmeS5hcHA6NDQzIiwiZmVhdHVyZSI6IkF1dG9EYXJrTW9kZSIsImV4cGlyeSI6MTY0NTU3NDM5OX0=">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    <meta name='og:description' content="{{.}}">
    <meta name='og:site_name' content='Thomas Rettig’s Blog'>
    <meta name='twitter:title' content="{{.}}">
    <meta name='twitter:description' content='Thomas Rettig’s Blog'>
    <meta name="google-site-verification" content="putN8PYn0urMJcjA6xItv5GSPbZ0X_R2Remw_oom4_Q" />
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="blue">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.png" | absURL) | safeHTML }}
    
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}
    <title>{{ .Title }}</title>
    <script defer data-domain="thms.netlify.app" src="https://plausible.io/js/plausible.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
