<h1>Hi! I’m <a href="/about">Thomas</a></h1><p>Here are some posts I’ve published recently:</p>
<ul id="posts" >
{{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ .Render "li" }}
{{- end }}
</ul>
<style>
    h1 > a:hover {
        font-variation-settings: "wght" 900, "CASL" 1, "CRSV" 1, "slnt" -10;
    }

    body {
        background-image: radial-gradient(#e7ecf3 8%, #ffffff 7%);
        background-position: 0 0;
        background-size: 30px 30px;
        background-attachment: fixed;
    }
</style>